*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#7c3aed,#9333ea,#c084fc);
}

.login-card{
    width:400px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(227, 231, 226, 0.942);
}

.login-card h1{
    text-align:center;
    color:#7c3aed;
    margin-bottom:20px;
    font-size:56px;   /* or whatever size you're using */
    line-height:1.2;
}

.login-card p{
    text-align:center;
    margin-bottom:25px;
    line-height:1.5;
}

.login-card input{
    width:100%;
    padding:14px;
    margin-bottom:18px;
    border-radius:10px;
    border:1px solid #ddd;
    outline:none;
    font-size:16px;
}

.login-card input:focus{
    border-color:#7c3aed;
}

.password-box{
    position:relative;
}

.password-box button{
    position:absolute;
    right:10px;
    top:8px;
    border:none;
    background:none;
    color:#f1eef6;
    cursor:pointer;
}

.login-btn{
    width:100%;
    padding:14px;
    border:none;
    background:#7c3aed;
    color:white;
    font-size:17px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.login-btn:hover{
    background:#6d28d9;
}

.register-link{
    margin-top:20px;
}

.register-link a{
    color:#7c3aed;
    text-decoration:none;
    font-weight:bold;
}

@media(max-width:500px){

.login-card{
    width:90%;
    padding:25px;
}

}